<a href="https://colab.research.google.com/github/mohingrewal/Home_Sales/blob/main/Home_Sales_starter_code_colab_revised.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488490 sha256=3ad4e91762bbf951c68bb8522503b67b0dc14e2bc1a102f7a6a4f1618c804d34
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [2]:
from pyspark.sql import SparkSession

In [6]:
# Install Java and Spark in Google Colab
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!pip install pyspark
import os

# Set environment variables
os.environ['JAVA_HOME'] = '/usr/lib/jvm/java-11-openjdk-amd64'
# Download Spark - this was missing!
!wget -q https://dlcdn.apache.org/spark/spark-3.5.1/spark-3.5.1-bin-hadoop3.tgz
# Unzip the Spark download
!tar xf spark-3.5.1-bin-hadoop3.tgz
os.environ['SPARK_HOME'] = '/content/spark-3.5.1-bin-hadoop3'

from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder \
    .appName("Colab Spark") \
    .getOrCreate()

# Print Spark version
print("Spark Version:", spark.version)

# Start a SparkSession
import findspark
findspark.init()

Hit:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:3 http://security.ubuntu.com/ubuntu jammy-security InRelease
Ign:4 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Hit:5 https://r2u.stat.illinois.edu/ubuntu jammy Release
Hit:6 http://archive.ubuntu.com/ubuntu jammy InRelease
Hit:8 http://archive.ubuntu.com/ubuntu jammy-updates InRelease
Hit:9 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:10 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:11 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:12 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Spark Version: 3.5.1

In [7]:
# Import packages
from pyspark.sql import SparkSession
import time
from pyspark.sql import Row
from pyspark.sql.types import StructType,StructField,StringType, DateType,IntegerType

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [8]:
# 1. Read in the AWS S3 bucket into a DataFrame.
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"
spark.sparkContext.addFile(url)

df = spark.read.option('header', 'true').csv(SparkFiles.get("home_sales_revised.csv"), inferSchema=True, sep=',', timestampFormat="mm/dd/yy")

In [9]:
# 2. Create a temporary view of the DataFrame.
df.createOrReplaceTempView('home_data')
df.show()

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|
|5aa00529-0533-46b...|2019-01-30|      2017|218712|       2|        3|       1965|   14375|     2|         0|   7|
|131492a1-72e2-4a8...|2020-02-08|      2017|419199|       2|        3|       2062|    8876|     2|         0|   6|
|8d54a71b-c520-44e...|2019-07-21|      2010|323956|       2|        3|       1506|   11816|     1|         0|  25|
|e81aacfe-17fe-46b...|2020-06-16|      2016|181925|       3|        3|       2137|   11709|     2|         0|  22|
|2ed8d509-7372-46d...|2021-08-06|      2015|258710|       3|        3|       1918|    9666|     1|         0|  25|
|f876d86f-3c9f-42b...|2019-02-27|      2011|167864|       3|        3|       2471|   13924|     2|         0|  15|
|0a2bd445-8508-4d8...|2021-12-30|      2014|337527|       2|        3|       1926|   12556|     1|         0|  23|
|941bad30-eb49-4a7...|2020-05-09|      2015|229896|       3|        3|       2197|    8641|     1|         0|   3|
|dd61eb34-6589-4c0...|2021-07-25|      2016|210247|       3|        2|       1672|   11986|     2|         0|  28|
|f1e4cef7-d151-439...|2019-02-01|      2011|398667|       2|        3|       2331|   11356|     1|         0|   7|
|ea620c7b-c2f7-4c6...|2021-05-31|      2011|437958|       3|        3|       2356|   11052|     1|         0|  26|
|f233cb41-6f33-4b0...|2021-07-18|      2016|437375|       4|        3|       1704|   11721|     2|         0|  34|
|c797ca12-52cd-4b1...|2019-06-08|      2015|288650|       2|        3|       2100|   10419|     2|         0|   7|
|0cfe57f3-28c2-472...|2019-10-04|      2015|308313|       3|        3|       1960|    9453|     2|         0|   2|
|4566cd2a-ac6e-435...|2019-07-15|      2016|177541|       3|        3|       2130|   10517|     2|         0|  25|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 20 rows

In [10]:
# 3. What is the average price for a four bedroom house sold per year, rounded to two decimal places?
from pyspark.sql.functions import mean
from pyspark.sql.functions import round, col

four_bed_per_year = df.filter(df.bedrooms == 4)\
    .groupBy("date")\
    .agg(round(mean("price"), 2).alias("avg_price"))

four_bed_per_year.show()

+----------+---------+
|      date|avg_price|
+----------+---------+
|2021-11-13| 358445.0|
|2019-05-08| 234979.5|
|2021-08-27|275547.25|
|2021-01-27|367520.57|
|2021-06-22| 297708.8|
|2021-10-11|283388.33|
|2020-08-24|301080.75|
|2022-03-28|338544.78|
|2019-06-04|306373.08|
|2021-12-18| 305264.3|
|2020-11-29|318153.89|
|2020-01-21| 420576.0|
|2020-07-24| 293661.5|
|2021-11-25|291762.27|
|2019-11-18|290259.83|
|2019-09-22| 284864.5|
|2020-08-05|243835.56|
|2019-11-01|254751.38|
|2021-10-02|303838.38|
|2020-08-29| 285457.3|
+----------+---------+
only showing top 20 rows

In [11]:
# 4. What is the average price of a home for each year the home was built,
# that have 3 bedrooms and 3 bathrooms, rounded to two decimal places?
three_bed_three_bath_per_year = df.filter((df.bedrooms == 3) & (df.bathrooms == 3)) \
    .groupBy("date") \
    .agg(round(mean("price"), 2).alias("avg_price"))
three_bed_three_bath_per_year.show()

+----------+---------+
|      date|avg_price|
+----------+---------+
|2019-05-08|285754.71|
|2021-06-22| 306565.0|
|2021-01-27|385711.75|
|2020-08-24|319252.33|
|2021-11-13|348180.33|
|2022-03-28| 280464.4|
|2021-10-11| 289886.4|
|2021-12-18| 178508.5|
|2021-08-27|298209.33|
|2019-06-04| 223109.0|
|2020-08-05|304566.75|
|2019-11-18|319833.67|
|2020-01-21| 303045.8|
|2021-11-25|321816.67|
|2019-11-01| 279354.0|
|2020-07-24| 283740.0|
|2020-11-29| 366673.0|
|2021-10-02| 400307.5|
|2019-09-22| 350352.5|
|2020-04-30| 192065.5|
+----------+---------+
only showing top 20 rows

In [12]:
# 5. What is the average price of a home for each year the home was built,
# that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet, rounded to two decimal places?
avg_price_per_year = df.filter(
    (df.bedrooms == 3) &
    (df.bathrooms == 3) &
    (df.floors == 2) &
    (df.sqft_living >= 2000)
) \
    .groupBy("date") \
    .agg(round(mean("price"), 2).alias("avg_price"))
avg_price_per_year.show()

+----------+---------+
|      date|avg_price|
+----------+---------+
|2021-06-22| 420422.0|
|2021-01-27| 446538.0|
|2021-12-18| 178508.5|
|2021-11-13| 697736.0|
|2021-08-27| 385686.0|
|2022-03-28| 204818.0|
|2021-10-11| 167892.0|
|2019-05-08| 391556.0|
|2019-11-01|201940.33|
|2019-11-18| 398256.0|
|2021-10-02| 402262.0|
|2019-09-22| 365867.0|
|2020-01-21| 293205.0|
|2020-04-30| 232217.0|
|2022-01-31| 284811.0|
|2022-05-19|302160.33|
|2020-08-29| 423501.0|
|2020-08-28| 296028.5|
|2019-11-21| 428167.0|
|2021-07-30| 346839.0|
+----------+---------+
only showing top 20 rows

In [13]:
# 6. What is the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000? Order by descending view rating.
# Although this is a small dataset, determine the run time for this query.

start_time = time.time()



print("--- %s seconds ---" % (time.time() - start_time))

--- 7.128715515136719e-05 seconds ---

In [15]:
# 7. Cache the the temporary table home_sales.
spark.catalog.cacheTable("home_data")

In [16]:
# 8. Check if the table is cached.
spark.catalog.isCached('home_data')

True

In [17]:
# 9. Using the cached data, run the last query above, that calculates
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000.
# Determine the runtime and compare it to the uncached runtime.

start_time = time.time()



print("--- %s seconds ---" % (time.time() - start_time))

--- 0.00011420249938964844 seconds ---

In [18]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data
df.write.partitionBy('date_built').parquet('p_sales', mode='overwrite')

In [19]:
# 11. Read the parquet formatted data.
p_df = spark.read.parquet('p_sales')

In [20]:
# 12. Create a temporary table for the parquet data.
p_df.createOrReplaceTempView('p_sales')

In [21]:
# 13. Using the parquet DataFrame, run the last query above, that calculates
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000.
# Determine the runtime and compare it to the cached runtime.

start_time = time.time()



print("--- %s seconds ---" % (time.time() - start_time))

--- 0.00010204315185546875 seconds ---

In [22]:
# 14. Uncache the home_sales temporary table.
spark.catalog.uncacheTable("home_data")

In [23]:
# 15. Check if the home_sales is no longer cached

spark.stop()